.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.section-container {
  padding: 10px;
  width: 800px;
  max-width: 80%;
}

.header-container {
  text-align: center;
}

.subtitle-container {
}

.bounties-container {
}

.bounty {
  border-style: solid;
  padding: 10px 20px 35px 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.bounty:hover {
  /*background-color: yellow;*/
  border-color: #0000CD;
}

.bounty-amount {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.bounty-setter {
  position: absolute;
  bottom: 0;
  left: 20px;
}

footer {
  text-align: center;
}

h1, h3 {
  font-family: "Helvetica Neue", sans-serif;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}
