header h1 {
  color: green;
}

.bounty {
  border-style: solid;
  max-width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bounty:hover {
  background-color: yellow;
  border-color: blue;
}

footer {
  text-align: center;
}