.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.section-container {
  padding: 10px;
  width: 800px;
  max-width: 80%;
}

.header-container {
  margin-top: 30px;
  text-align: center;
}

.header-img {
  height: 350px;
  margin-top: 30px;
}

.subtitle {
  font-family: "Source Code Pro", monospace;
  text-indent: 2em;
}

.subtitle-container {
}

.bounties-container {
  box-sizing: border-box;
  padding: 0 40px;
}

.bounty {
  border-style: solid;
  padding: 5px 25px 15px 25px;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.desc-active {
  // color: #0069ff;
}

.bounty-active {
  border-color: #0069ff;
}

.bounty-metadata {
  position: absolute;
  bottom: 10px;
  left: 25px;
}

footer {
  text-align: center;
}

h1 {
  font-family: "Source Code Pro", monospace;
}

h3 {
  font-family: "Source Code Pro", monospace;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
